html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 10px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
    width: 150px;
    height: 125px;
}

.item-padding {
    padding: 0 20px;;
}

.item:hover {
    opacity: 1;
}

.image-button {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.netflix {
    background-image: url('netflix.png');
}

.simplitv {
    background-color: #810963;
    background-image: url('simplitv.png');
}

.gonet {
    background-image: url('gonet.png');
}

.youtube {
    background-image: url('youtube.jpg');
}

.steam {
    background-image: url('steam.png');
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.controls {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 999;
}

.lights {
    background-image: url('rgb.png');
    width: 25px;
    height: 25px;
    background-size: cover;
}